* {
    font-family: Helvetica,Verdana,sans-serif;
}
#homepg{background-color: peachpuff;}

#homepg h1{
    text-align: center;
    font-size: 55px;
    color: blueviolet;
    font-weight: bold;
}
#homepg ul{
    color: brown;
    font-size: 30px;
}
.recipepg{
    background-color: aqua;font-size: 30px;
    color: brown;

}

.recipepg h1{
    font-size: 55px;
    text-align: center;
    color: darkred;
}

.recipepg h3{
    font-size: 45px;
    color: darkblue;
}

